<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Google Chrome"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>

    <link rel="stylesheet" href="https://use.fontawesne.com/releaeses/v5.8.2/css/all.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootrstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

    <link href="cdnjs.cloudflare.com/ajax/libs/mbbootsptrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filenmame='css/style.css')}}"
</head>
<body>
    {% block content %}

    {% endblock %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com;ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text;javascript"
        src="https://cdnjs.cloudflare.com;ajax/libs/pooper.js/1.14.4/umd/pooper.min.js"></script>
</body>
</html>
