{% extends "base.html" %}

{% block content %}

<form action="/update/produto/{{produto.0}}" method="POST">
    <input type="number" name="id" value="{{produto.0}}" placeholder="ID do produto">
    <input type="text" name="nome" value="{{produto.1}}" placeholder="Nome do Produto">
    <input type="text" name="descricao" value="{{produto.2}}" placeholder="Descrição do Produto">
    <input type="number" name="quantidade"  value="{{produto.3}}" placeholder="Quantidade do Produto">

    <button type="submit">Atualizar dados dos Produtos</button>

</form>

{% endblock %}
